﻿@model IEnumerable<OurProject.Dto.UnitDto.GetAllUnitsInfoDto>
@{
    ViewData["Title"] = "MainManegerView";
    Layout = "~/Views/Shared/Maneger/Maneger_Layout.cshtml";
}

<div class="container" style="margin-top:3% ;">
    <div class="row overflow-hidden">
        @foreach (var item in Model)
        {
            int i = item.UnitId;
            string cardid = "card" + i;
            <div class=" col-sm-12 col-md-6 col-lg-4 pl-0" style="padding-left: 0rem; padding-right: 1.4rem;">
                <div class="card w-100">
                    <input type="checkbox" id="@cardid" class="more" aria-hidden="true">
                    <div class="content">
                        <div class="front" style="background-image: url(@item.Image)">
                            <div class="inner">
                                <h2>@item.UnitName</h2>
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                                <label for="@cardid" class="button" aria-hidden="true">
                                    تفاصيل
                                </label>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <table class="table__1 caption-top" style="text-align: right;">
                                    <tbody>
                                        <tr>
                                            <td class="pr-3">@item.SuperVisorName</td>
                                            <th scope="row">:المشرف</th>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="pt-4 pr-4">@item.StoreKeeperName</td>
                                            <th scope="row" style="padding-top: 20%;">:امين المستودع</th>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="pt-4 pr-4">0</td>
                                            <th scope="row" style="padding-top: 20%;">:عدد الطلاب</th>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="pt-4 pr-4">@item.studyBrancheName</td>
                                            <th scope="row" style="padding-top: 20%;">:الفرع الدراسي</th>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            @if (item.Gender)
                                            {
                                                <td class="pt-4 pr-4">ذكور</td>
                                            }
                                            else
                                            {
                                                <td class="pt-4 pr-4">إناث</td>
                                            }
                                            <th scope="row" style="padding-top: 20%;">:ذكور / اناث</th>
                                        </tr>
                                    </tbody>
                                </table>

                               
                                    <label for="@cardid" class="button return" aria-hidden="true" style="margin-right:85% ;background-color: #000133;">
                                        <i class='bx bx-left-arrow-alt' style='color:#f2f2fa ; font-size: 30px; margin-top:30%;'></i>
                                    </label>

                            </div>
                            <div>@Html.ActionLink("اعدادات الوحدة السكنية", "EditUnit", "Maneger", new { id = item.UnitId })</div>
                            <a asp-></a>
                        </div>
                    </div>
                </div>

            </div>

        }
    </div>
</div>

