﻿
@{
    ViewData["Title"] = "xView";
    Layout = "~/Views/Shared/x_Layout.cshtml";
}
<link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

<link href="~/css/card.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


<div class="container" style="margin-top:3% ;">
    <div class="row ">
        <div class=" col-sm-12 col-md-6 col-lg-4 pl-0" style="padding-left: 0rem; padding-right: 1.4rem;">
            <div class="card w-100">
                <input type="checkbox" id="card1" class="more" aria-hidden="true">
                <div class="content">
                    <div class="front" style="background-image: url(css/img/9.jpg)">
                        <div class="inner">
                            <h2>الوحدة الاولى</h2>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <label for="card1" class="button" aria-hidden="true">
                                تفاصيل
                            </label>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <table class="table__1 caption-top" style="text-align: right;">




                                <tbody>
                                    <tr>
                                        <th scope="row">:المشرف</th>

                                    </tr>


                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row" style="padding-top: 20%;">:امين المستودع</th>

                                    </tr>


                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row" style="padding-top: 20%;">:عدد الطلاب</th>

                                    </tr>


                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row" style="padding-top: 20%;">:الفرع الدراسي</th>

                                    </tr>


                                </tbody>
                                <tbody>
                                <th scope="row" style="padding-top: 20%;">:ذكور / اناث</th>

                                </tr>


                                </tbody>





                            </table>

                            <label for="card1" class="button return" aria-hidden="true" style="margin-right:85% ;background-color: #508bb3;">
                                <i class='bx bx-left-arrow-alt' style='color:#f2f2fa ; font-size: 30px; margin-top:30%;'></i>
                            </label>

                        </div>
                        <a class="nav-link_1" href="#" style="text-decoration: none;">اعدادات الوحدة السكنية</a>
                    </div>
                </div>
            </div>
        </div>



        <div class=" col-sm-12 col-md-6 col-lg-4 pl-0" style="padding-left: 0rem; padding-right: 1.4rem;">
            <div class="card w-100">
                <input type="checkbox" id="card2" class="more">
                <div class="content">
                    <div class="front" style="background-image:url(css/img/8.jpg)">
                        <div class="inner">
                            <h2>الوحدة الثانية</h2>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <label for="card2" class="button" aria-hidden="true">
                                تفاصيل
                            </label>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <table class="table__1 caption-top" style="text-align: right;">




                                <tbody>
                                    <tr>
                                        <th scope="row">:المشرف</th>

                                    </tr>


                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row" style="padding-top: 20%;">:امين المستودع</th>

                                    </tr>


                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row" style="padding-top: 20%;">:عدد الطلاب</th>

                                    </tr>


                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row" style="padding-top: 20%;">:الفرع الدراسي</th>

                                    </tr>


                                </tbody>
                                <tbody>
                                <th scope="row" style="padding-top: 20%;">:ذكور / اناث</th>

                                </tr>


                                </tbody>





                            </table>

                            <label for="card1" class="button return" aria-hidden="true" style="margin-right:85%;    background-color: #508bb3 ">
                                <i class='bx bx-left-arrow-alt' style='color:white ; font-size: 30px; margin-top:30%;'></i>
                            </label>

                        </div>
                        <a class="nav-link_1" href="#">اعدادات الوحدة السكنية</a>
                    </div>
                </div>
            </div>
        </div>

        <div class=" col-sm-12 col-md-6 col-lg-4 pl-0" style="padding-left: 0rem; padding-right: 1.4rem;">
            <div class="card w-100">
                <input type="checkbox" id="card3" class="more">
                <div class="content">
                    <div class="front" style="background-image: url(css/img/3.jpg)">
                        <div class="inner">
                            <h2>الوحدة الثالثة</h2>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <label for="card3" class="button" aria-hidden="true">
                                تفاصيل
                            </label>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <table class="table__1 caption-top" style="text-align: right;">




                                <tbody>
                                    <tr>
                                        <th scope="row">:المشرف</th>

                                    </tr>


                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row" style="padding-top: 20%;">:امين المستودع</th>

                                    </tr>


                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row" style="padding-top: 20%;">:عدد الطلاب</th>

                                    </tr>


                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row" style="padding-top: 20%;">:الفرع الدراسي</th>

                                    </tr>


                                </tbody>
                                <tbody>
                                <th scope="row" style="padding-top: 20%;">:ذكور / اناث</th>

                                </tr>


                                </tbody>






                            </table>

                            <label for="card1" class="button return" aria-hidden="true" style="margin-right:85% ;background-color: #508bb3;">
                                <i class='bx bx-left-arrow-alt' style='color:#f2f2fa ; font-size: 30px; margin-top:30%;'></i>
                            </label>

                        </div>
                        <a class="nav-link_1" href="#">اعدادات الوحدة السكنية</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="~/js/manger.js"></script>
<!--Bootstrap JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
