﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/SignIn/SignIn.css" rel="stylesheet" />
    <title>login</title>
</head>
<body class="table">
   
     @RenderBody()

</body>
</html>
