*{
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    line-height:2.5;
  }
  
    
  :root{
    --main-color:#90AAB9;
    --dark-main-color:#1a5086;
 
    --brown-color:#4D4644;
    --text-color:#d7dddd;
  }

.big.error input {
    border: 2px solid #e74c3c;
}

.big.correct input {
    border: 2px solid #2ecc71;
}

.big.error select {
    border: 2px solid #e74c3c;
}

.big.correct select {
    border: 2px solid #2ecc71;
}

.big small {
    visibility: hidden;
    font-size: inherit;
    bottom: 0;
    left: 0;
}

.big.error small {
    visibility: visible;
    color: #e74c3c;
}

.big.correct small {
    visibility: hidden;
    color: #2ecc71;
}
/*add*/
.add1{
  background-image: linear-gradient(180deg, var(--brown-color) 0%, var(--dark-main-color) 120%);
}
.container33 {
 
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.center {
  align-items: center;
  justify-content: center;
}
.card33 {
  background-color: white;
  width:600px;
 margin-top: 15% !important;
  min-height: 404.5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 5px;
  box-shadow: -20px -20px 0px 0px #1a5086;
  border-radius: 10px;
  -webkit-animation-name: shadow-show;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1.5s;
  /* Safari 4.0 - 8.0 */
  animation-name: shadow-show;
  animation-duration: 1.5s;
  transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
  /* custom */
}

  .btn{
    display: inline-block;
    margin-top: 2%;
    padding:.7rem 2.5rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    color:rgb(228, 228, 240) !important;
    font-size: 20PX;
    
    position: relative;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    overflow: hidden;
    z-index: 0;
    }
    
    .btn::before{
    content: '';
    position: absolute;
    top:0; left:0;
    height: 100%;
    width:100%;
    clip-path: polygon(0 0, 100% 0, 10% 25%, 0 100%);
    z-index: -1;
    background:rgb(228, 228, 240);
    transition: .3s cubic-bezier(.38,1.15,.7,1.12);
    }
    
    .btn:hover:before{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
    .btn:hover{
    color:var(--brown-color) !important;
    font-size: 20px;
    }
     /* add1 */
  
   
    

     @media(max-width:620px){
      .card33{
        width: 400px;
     
      }
    }
    @media(max-width:420px){
      .card33{
        width: 380px;
  
      }
    }
    @media(max-width:390px){
      .card33{
        width: 340px;
     
      }
    }
    @media(max-width:350px){
      .card33{
        width: 320px;
   
      }
    }
    @media(max-width:330px){
      .card33{
        width: 300px;
    
      }
    }
    @media(max-width:310px){
      .card33{
        width: 280px;
 
      }
    }
    @media(max-width:295px){
      .card33{
        width: 260px;
     
      }
    }
    @media(max-width:265px){
      .navbar-toggler{
        right: -150px;
         position: relative;
         top: -45px;
       }
      .navbar-brand{
         left: -30px;
         position: relative;
       }
     }
    
 
   /* add1 */  