body {
	margin:  0;
}
:root{
    --main-color:#90AAB9;
    --dark-main-color:#1a5086;
 
    --brown-color:#4D4644;
    --text-color:#d7dddd;
    
}
.page-content {
	width: 100%;
	margin:  0 auto;
	background-image: -moz-linear-gradient( 136deg, rgb(81, 132, 209) 0%, rgb(90, 93, 95) 100%);
    background-image: -webkit-linear-gradient( 136deg, rgb(68, 137, 216) 0%, rgb(95, 95, 95)100%);
    background-image: -ms-linear-gradient( 136deg, rgb(57, 142, 190) 0%, rgb(95, 95, 95) 100%);
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
}

.form-v7-content {
	width: 910px;
	margin: 175px 0;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	display: flex;
	display: -webkit-flex;
}
.form-v7-content .form-left {
	position: relative;
	color: #fff;
	font-weight: 400;
    width: 92.5%;
    margin-top: 5px;
}
.form-v7-content .form-left img {
	width: 100%;
}
.form-v7-content .form-left .text-1
 {
	position: absolute;
	text-align: center;
	width: 100%;
	margin-top: -0.5%;
	color: #383879;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.form-v7-content .form-left .text-1 {
	font-size: 38px;
	top: 1.5%;
}
.form-v7-content .form-left .text-2 {
	font-size: 16px;
	bottom: 11%;
}
.form-v7-content .form-left .text-2::after {
	position: absolute;
	content: "";
	background: #fff;
	height: 1px;
	width: 228px;
	bottom: -50%;
	left: 50%;
	transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	opacity: 0.5;
}
.form-v7-content .form-detail  {
    padding: 73px 80px 41px;
	position: relative;
	width: 100%;
	height:90% !important ;
	background: #fff;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	margin-top:-8rem;
}
.form-v7-content .form-detail .form-row {
    width: 100%;
    position: relative;
}
.form-v7-content .form-detail .form-row label {
	color: #666;
	font-weight: 600;
	font-size: 13px;
	margin-bottom: 3px;
	font-family: 'Open Sans', sans-serif;
}
.form-v7-content .form-detail .form-row label#valid {
    position: absolute;
    right: 20px;
    top: 35%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #0d023d;
}
.form-v7-content .form-detail .form-row label#valid::after {
	content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form-control:hover{
	background-color: white !important;}
  
.form-v7-content .form-detail .input-text {
	margin-bottom: 28px;
}
.form-v7-content .form-detail .input-text {
	width: 100%;
    padding: 5px 15px 10px 15px;
    border: 2px solid transparent;
    border-bottom: 2px solid #e5e5e5;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    box-sizing: border-box;
    -o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.form-v7-content .form-detail .form-row input:focus {
	border-bottom: 2px solid #030d3d;
}
.form-v7-content .form-detail .register {
	background: var(--dark-main-color);
	border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 180px;
	border: none;
	margin: -13px 0 50px 0px;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
	float: left;
	font-size: 20px;
	font-weight: 600;
}
.big.error input {
	border: 2px solid #e74c3c;
}

.big.correct input {
	border: 2px solid #2ecc71;
}

.big.error select {
	border: 2px solid #e74c3c;
}

.big.correct select {
	border: 2px solid #2ecc71;
}

.big small {
	visibility: hidden;
	font-size: inherit;
	bottom: 0;
	left: 0;
}

.big.error small {
	visibility: visible;
	color: #e74c3c;
}

.big.correct small {
	visibility: hidden;
	color: #2ecc71;
}
.form-v7-content .form-detail .register:hover {
	background:var(--main-color);
}
.form-v7-content .form-detail .form-row-last {
    margin-top: 35px;
}
.form-v7-content .form-detail .form-row-last input {
	padding: 15px;
}
.form-v7-content .form-detail .form-row-last p {
	font-weight: 600;
	font-size: 14px;
	color: #666;
	margin-left: 200px;
}
.form-v7-content .form-detail .form-row-last a {
	font-size: 16px;
	color: #373be3;
	padding-left: 15px;
}


/* Responsive */
@media screen and (max-width: 991px) {
	.form-v7-content {
		margin: 180px 20px;
		flex-direction:  column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
		-webkit-flex-direction:  column;
	}
	.form-v7-content .form-left {
		width: 100%;
		margin-bottom: -5px;
	}
	.form-v7-content .form-detail {
		padding: 50px;
	    width: auto;
	}
	.form-v7-content .form-detail .register {
		margin-bottom: 80px;
	}
}



@media screen and (max-width: 575px) {
	.form-v7-content .form-detail {
		padding: 30px 20px;
	    width: auto;
	}
	.form-v7-content .form-detail .register {
		float: none;
		margin-bottom: 10px;
	}
	.form-v7-content .form-detail .form-row-last p {
	    margin-left: 0px;
	    margin-bottom: 50px;
	}
	
}
@media screen and (max-width:420px){
	.btn ,.form-wrapper{
		width: 15rem !important;

	}

	
}
@media screen and (max-width:570px){
	.text-1{
		padding-top: 30%;
	}
	.form-wrapper{
		width: 25rem;
	}

}
@media screen and (max-width:750px){
	.text-1{
		padding-top: 20%;
	}
	.form-wrapper{
		width: 25rem;
	}
}
@media screen and (max-width:1000px){
	.text-1{
		padding-top: 20%;
		
	}
	.form-wrapper{
		width: 25rem;
	}
	
}