﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--  CSS Link -->
    <link href="~/LinkedCss/Maneger/UpdateUnit.bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/updateunit.css" rel="stylesheet" />
    <link href="~/LinkedCss/Maneger/UpdateUnit1.bootstrap.min.css" rel="stylesheet" />
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <title>manger</title>
</head>
<body class="add1">
    <form id="WebGridForm">
        <header style="background-color: #90AAB9 ">
            <div class="container mb-2 ">
                <nav class="navbar navbar-expand-lg navbar-dark pl-0" style="background-color: transparent">
                    <div class="container-fluid">
                        <div>
                            <img src="~/img/user.jpg" alt="logo" style=" width: 4rem;" class="img-fluid pr-1 pl-1">
                            <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index"><span class="font-weight-bold fs-4" style="color: #d7dddd">@Program.CurrentUser.UserName</span></a>
                        </div>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-right">
                                <li class="nav-item">
                                    <a class="nav-link  " aria-current="page" asp-area="" asp-controller="Maneger" asp-action="AddUnitBtn">إضافة وحدة جديدة</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  " aria-current="page" asp-area="" asp-controller="Maneger" asp-action="AddUserBtn">إضافة مستخدم جديد</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  " aria-current="page" asp-area="" asp-controller="Maneger" asp-action="StoreKeeperSettingBtn">أمين مستودع</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="SuperVisorSettingBtn" asp-controller="Maneger" class="nav-link">مشرف</a>
                                </li>

                            </ul>
                            <div class="nav__icons pl-2">
                                <a href="#" style="color:white;" class="nav__icon pr-1"><i class='bx bxs-user'></i></a>

                                <a class="nav__icon" style="color:white;" asp-action="HomeBtn" asp-controller="Maneger"><i class='bx bxs-home'></i></a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

    </form>
    <div class=""style="overflow:inherit;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>
